/* Body Styles */

// body classes
.tac {
  text-align: center;
}

.m-10px {
  margin: 10px;
}

.m-20px {
  margin: 20px;
}

.m-40px {
  margin: 40px;
}

.font-150 {
  font-size: 150%;
}

.font-200 {
  font-size: 200%;
}

.box-shadow {
  -webkit-box-shadow: 5px 5px 6px 1px rgba(0,0,0,0.39); 
  box-shadow: 5px 5px 6px 1px rgba(0,0,0,0.39);
}

body {
  background-color: $lightSlateGrey;
  .main-container {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0 auto;
    background-color: white;

    .main-container-header {
      background-color: $darkYellow;
      padding: 10px;
      h1 {
        font-size: 200%;
        color: white;
      }

      .category-navigation {
        width: 60%;
        margin: 0 auto;
        nav {
          ul {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 10px;

            li:hover {
              background-color: $lightSlateGrey;

              a {
                color: $darkNavy;
              }
            }

            li {
              margin: 5px;
              border: 2px solid black;
              background-color: $darkNavy;
              border-radius: 20px;
              padding: 10px;

              a {
                color: white;
              }
            }
          }
        }
      }
    }

    // Flexbox design patterns you can use in your projects: https://www.youtube.com/watch?v=vQAvjof1oe4

    .blog-posts-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 50px 10px;

      .blog-post-item {
        margin: 0 auto;
        flex: 0 1 350px;
        align-self: center;

        .blog-post-heading {
          background-color: $darkNavy;
          padding: 1em;
          color: white;
          font-size: 120%;
        }
        .blog-post-image {
          height: 300px;
          img {
            height: 100%;
            object-fit: cover;
            object-position: center center;
          }
        }

        .blog-post-body {
          padding: 10px;
          line-height: 1.5;
        }

        .blog-post-date-time {
          background-color: $darkYellow;
          padding: 5px;
          display: flex;
          justify-content: center;

          h3 {
            margin: 5px;
          }
        }

        .blog-post-edit-delete {
          background-color: $darkYellow;
          padding: 5px;
          display: flex;
          justify-content: center;
          font-size: 150%;

          .blog-post-edit {
            margin-right: 10px;
          }

          .blog-post-delete {
            margin-left: 10px;
          }
        }
      }
    }

    section {
      float: left;
      width: 800px;
      padding-bottom: 1.5em;
      border: 2px solid blue;
    }

    a {
      color: rgb(41, 64, 124);
      font-weight: bold;
      text-decoration: none;
    }
    a:hover {
      color: rgb(208, 133, 4);
    }
    table {
      border: 1px solid black;
      border-collapse: collapse;
      border: 2px solid pink;
    }
    td,
    th {
      border: 1px dashed black;
      padding: 0.2em 0.5em 0.2em 0.5em;
      vertical-align: top;
      text-align: left;
    }
    form {
      margin: 0;
    }
    br {
      clear: left;
    }
    /* the styles for classes */
    .right {
      text-align: right;
    }
    .last_paragraph {
      margin-bottom: 2em;
    }
    .margin_top_increase {
      margin-top: 1em;
    }

    #add_blog_post_form {
      margin: 0.5em 0 1em;
    }
    #add_blog_post_form label {
      width: 6em;
      padding-right: 1em;
      padding-bottom: 0.5em;
      float: left;
    }
    #add_blog_post_form input {
      float: left;
    }
    #add_blog_post_form input[text] {
      width: 15em;
    }
  }
}
