/* Body Styles */

// body classes
.tac {
  text-align: center;
}

.m-10px {
  margin: 10px;
}

.m-20px {
  margin: 20px;
}

.m-40px {
  margin: 40px;
}

.font-150 {
  font-size: 150%;
}

.font-200 {
  font-size: 200%;
}

.box-shadow {
  -webkit-box-shadow: 5px 5px 6px 1px rgba(0, 0, 0, 0.39);
  box-shadow: 5px 5px 6px 1px rgba(0, 0, 0, 0.39);
}

body {
  font-family: $baseFont;
  .main-container {
    width: 100%;
    margin: 0 auto;
    background-color: white;

    .main-container-header {
      background-color: $darkYellow;
      padding: 10px;
      h1 {
        font-size: 200%;
        color: white;
      }

      .category-navigation {
        width: 60%;
        margin: 0 auto;
        nav {
          ul {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 10px;

            li:hover {
              background-color: $lightSlateGrey;

              a {
                color: $darkNavy;
              }
            }

            li {
              margin: 5px;
              border: 2px solid black;
              background-color: $darkNavy;
              border-radius: 20px;
              padding: 10px;

              a {
                color: white;
              }
            }
          }
        }
      }
    }

    .add-blog-post:hover {
      background-color: $lightSlateGrey;
      a {
        color: $darkNavy;
      }
    }

    .add-blog-post {
      margin: 20px auto;
      border: 2px solid black;
      background-color: #14213d;
      border-radius: 20px;
      padding: 10px;
      width: fit-content;
      text-align: center;

      a {
        color: white;
      }
    }

    // Flexbox design patterns you can use in your projects: https://www.youtube.com/watch?v=vQAvjof1oe4

    .blog-posts-container {
      width: 100%;
      padding-bottom: 40px;
      display: flex;
      flex-wrap: wrap;
      gap: 50px 10px;
      margin-bottom: 40px;

      .blog-post-item {
        margin: 0 auto;
        flex: 0 1 350px;
        align-self: center;

        .blog-post-heading {
          background-color: $darkNavy;
          padding: 1em;
          color: white;
          font-size: 120%;
        }
        .blog-post-image {
          height: 300px;
          img {
            height: 100%;
            object-fit: cover;
            object-position: center center;
          }
        }

        .blog-post-body {
          padding: 10px;
          line-height: 1.5;
        }

        .blog-post-date-time {
          background-color: $darkYellow;
          padding: 5px;
          display: flex;
          justify-content: center;

          h3 {
            margin: 5px;
          }
        }

        .blog-post-edit-delete {
          background-color: $darkYellow;
          padding: 5px;
          display: flex;
          justify-content: center;
          font-size: 150%;

          .blog-post-edit {
            margin-right: 10px;
          }

          .blog-post-delete {
            margin-left: 10px;
          }
        }
      }
    }
    a {
      font-weight: bold;
      text-decoration: none;
    }
    table {
      border: 1px solid black;
      border-collapse: collapse;
      border: 2px solid pink;
    }
    td,
    th {
      border: 1px dashed black;
      padding: 0.2em 0.5em 0.2em 0.5em;
      vertical-align: top;
      text-align: left;
    }
    br {
      clear: left;
    }
    /* the styles for classes */
    .right {
      text-align: right;
    }
    .last_paragraph {
      margin-bottom: 2em;
    }
    .margin_top_increase {
      margin-top: 1em;
    }

    // add blog post styles

    .form-container {
      width: 50%;
      margin: 0 auto;
      padding: 30px;
      font-family: $baseFont;
      display: flex;
      margin-bottom: 100px;

      .pushdown {
        margin-bottom: 30px;
      }
    }

    .view-home-page:hover {
      background-color: $lightSlateGrey;
      a {
        color: $darkNavy;
      }
    }

    .view-home-page {
      margin: 10px auto;
      border: 2px solid black;
      background-color: #14213d;
      border-radius: 20px;
      padding: 10px;
      width: fit-content;

      a {
        color: white;
      }
    }

    #add_blog_post_form {
      margin: 0 auto;
      padding: 30px;
      border: 5px solid $darkYellow;
      border-radius: 20px;

      p {
        text-align: center;
        margin-bottom: 20px;
      }
    }
    #add_blog_post_form label {
      width: 8em;
      padding-right: 0em;
      padding-bottom: 1.5em;
      float: left;
      font-weight: bold;
    }
    #add_blog_post_form input {
      float: left;
    }
    #add_blog_post_form input[text] {
      width: 15em;
    }

    .add-category-form-container {
      margin: 50px;
      padding: 20px;
      width: 50%;
      margin: 40 auto;
      border: 5px solid $darkYellow;
      border-radius: 20px;

      h1 {
        text-align: center;
        font-weight: bold;
        font-size: 150%;
      }

      #add_category_form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        label {
          margin: 10px;
          font-weight: bold;
          font-size: 120%;
        }

        input {
          margin: 10px;
        }

        #add_category_button {
          width: 10%;
          margin: 20px;
        }
      }

      .delete-categories {
        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 10px;

          li {
            margin: 5px;
            border: 2px solid black;
            background-color: $darkNavy;
            border-radius: 20px;
            padding: 10px;
            color: white;
          }
        }
      }
    }
  }
}
