/* Footer Styles */

footer {
  font-family: $baseFont;
  background-color: $darkNavy;
  color: white;
  border-top: 5px solid $darkYellow;
  text-align: center;
  padding: 20px;
  position: fixed;
  margin-top: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
}
