/* Header Styles */

header {
    background-color: $darkNavy;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    h1 {
        color: white;
        font-size: 200%;
        margin: 10px;
    }
    .fa-newspaper-o {
        color: white;
        font-size: 60px;
        margin: 10px;
    }
}

