/* Variables */
/* Font Styles */
h1 {
  font-size: 150%;
  margin: 0;
}

h2 {
  font-size: 120%;
  margin: 0;
}

h1, h2 {
  color: #14213D;
  font-family: "Rubik", sans-serif;
}

/* html */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align: middle;
}

/* Header Styles */
header {
  background-color: #14213D;
  margin: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h1 {
  color: white;
  font-size: 200%;
  margin: 10px;
}

header .fa-newspaper-o {
  color: white;
  font-size: 60px;
  margin: 10px;
}

/* Body Styles */
.tac {
  text-align: center;
}

.m-10px {
  margin: 10px;
}

.m-20px {
  margin: 20px;
}

.m-40px {
  margin: 40px;
}

.font-150 {
  font-size: 150%;
}

.font-200 {
  font-size: 200%;
}

.box-shadow {
  -webkit-box-shadow: 5px 5px 6px 1px rgba(0, 0, 0, 0.39);
  box-shadow: 5px 5px 6px 1px rgba(0, 0, 0, 0.39);
}

body {
  font-family: "Rubik", sans-serif;
}

body .main-container {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  /* the styles for classes */
}

body .main-container .main-container-header {
  background-color: #FCA311;
  padding: 10px;
}

body .main-container .main-container-header h1 {
  font-size: 200%;
  color: white;
}

body .main-container .main-container-header .category-navigation {
  width: 60%;
  margin: 0 auto;
}

body .main-container .main-container-header .category-navigation nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

body .main-container .main-container-header .category-navigation nav ul li:hover {
  background-color: #E5E5E5;
}

body .main-container .main-container-header .category-navigation nav ul li:hover a {
  color: #14213D;
}

body .main-container .main-container-header .category-navigation nav ul li {
  margin: 5px;
  border: 2px solid black;
  background-color: #14213D;
  border-radius: 20px;
  padding: 10px;
}

body .main-container .main-container-header .category-navigation nav ul li a {
  color: white;
}

body .main-container .add-blog-post:hover {
  background-color: #E5E5E5;
}

body .main-container .add-blog-post:hover a {
  color: #14213D;
}

body .main-container .add-blog-post {
  margin: 20px auto;
  border: 2px solid black;
  background-color: #14213d;
  border-radius: 20px;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

body .main-container .add-blog-post a {
  color: white;
}

body .main-container .blog-posts-container {
  width: 100%;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px 10px;
  margin-bottom: 40px;
}

body .main-container .blog-posts-container .blog-post-item {
  margin: 0 auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 350px;
          flex: 0 1 350px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .main-container .blog-posts-container .blog-post-item .blog-post-heading {
  background-color: #14213D;
  padding: 1em;
  color: white;
  font-size: 120%;
}

body .main-container .blog-posts-container .blog-post-item .blog-post-image {
  height: 300px;
}

body .main-container .blog-posts-container .blog-post-item .blog-post-image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

body .main-container .blog-posts-container .blog-post-item .blog-post-body {
  padding: 10px;
  line-height: 1.5;
}

body .main-container .blog-posts-container .blog-post-item .blog-post-date-time {
  background-color: #FCA311;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .main-container .blog-posts-container .blog-post-item .blog-post-date-time h3 {
  margin: 5px;
}

body .main-container .blog-posts-container .blog-post-item .blog-post-edit-delete {
  background-color: #FCA311;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 150%;
}

body .main-container .blog-posts-container .blog-post-item .blog-post-edit-delete .blog-post-edit {
  margin-right: 10px;
}

body .main-container .blog-posts-container .blog-post-item .blog-post-edit-delete .blog-post-delete {
  margin-left: 10px;
}

body .main-container a {
  font-weight: bold;
  text-decoration: none;
}

body .main-container table {
  border: 1px solid black;
  border-collapse: collapse;
  border: 2px solid pink;
}

body .main-container td,
body .main-container th {
  border: 1px dashed black;
  padding: 0.2em 0.5em 0.2em 0.5em;
  vertical-align: top;
  text-align: left;
}

body .main-container br {
  clear: left;
}

body .main-container .right {
  text-align: right;
}

body .main-container .last_paragraph {
  margin-bottom: 2em;
}

body .main-container .margin_top_increase {
  margin-top: 1em;
}

body .main-container .form-container {
  width: 50%;
  margin: 0 auto;
  padding: 30px;
  font-family: "Rubik", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

body .main-container .form-container .pushdown {
  margin-bottom: 30px;
}

body .main-container .view-home-page:hover {
  background-color: #E5E5E5;
}

body .main-container .view-home-page:hover a {
  color: #14213D;
}

body .main-container .view-home-page {
  margin: 10px auto;
  border: 2px solid black;
  background-color: #14213d;
  border-radius: 20px;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body .main-container .view-home-page a {
  color: white;
}

body .main-container #add_blog_post_form {
  margin: 0 auto;
  padding: 30px;
  border: 5px solid #FCA311;
  border-radius: 20px;
}

body .main-container #add_blog_post_form p {
  text-align: center;
  margin-bottom: 20px;
}

body .main-container #add_blog_post_form label {
  width: 8em;
  padding-right: 0em;
  padding-bottom: 1.5em;
  float: left;
  font-weight: bold;
}

body .main-container #add_blog_post_form input {
  float: left;
}

body .main-container #add_blog_post_form input[text] {
  width: 15em;
}

body .main-container .add-category-form-container {
  margin: 50px;
  padding: 20px;
  width: 50%;
  margin: 40 auto;
  border: 5px solid #FCA311;
  border-radius: 20px;
}

body .main-container .add-category-form-container h1 {
  text-align: center;
  font-weight: bold;
  font-size: 150%;
}

body .main-container .add-category-form-container #add_category_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

body .main-container .add-category-form-container #add_category_form label {
  margin: 10px;
  font-weight: bold;
  font-size: 120%;
}

body .main-container .add-category-form-container #add_category_form input {
  margin: 10px;
}

body .main-container .add-category-form-container #add_category_form #add_category_button {
  width: 10%;
  margin: 20px;
}

body .main-container .add-category-form-container .delete-categories ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

body .main-container .add-category-form-container .delete-categories ul li {
  margin: 5px;
  border: 2px solid black;
  background-color: #14213D;
  border-radius: 20px;
  padding: 10px;
  color: white;
}

/* Footer Styles */
footer {
  font-family: "Rubik", sans-serif;
  background-color: #14213D;
  color: white;
  border-top: 5px solid #FCA311;
  text-align: center;
  padding: 20px;
  position: fixed;
  margin-top: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
}
/*# sourceMappingURL=mystyle.css.map */